html {
  box-sizing: border-box;
background: rosybrown;
  padding: 30px 50px
}

*::before,
*::after {
  box-sizing: inherit;
}

form {
    margin: 2rem auto;
    max-width: 750px;
}

.wrapper {
    position: relative;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.wrapper label {
    display: block;
    padding: 12px 0 12px 48px;
}

.wrapper input {
  height: 40px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.wrapper input + label::before {
  border: 5px solid;
  content: "";
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
  border-radius: 50%;
}

.wrapper input + label::after {
  content: "";
  opacity: 0;
  border: 10px solid;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 10px;
  transition: opacity 0.2s ease-in-out;
}

.wrapper input:checked + label::after {
  opacity: 1;
}

.wrapper input:focus + label::before {
  box-shadow: 0 0 0 3px darkred;  
  outline: 1px solid transparent; 
}

